@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
</style>
// seletor {
//  propriedade: valor;
// }
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif; ;
    background-color: rgb(223, 116, 116);
}

img{
    width: 200px;
    border-radius: 25%;
}

h1{
    font-family: "Nerko One", cursive;
    color: rgb(169, 44, 44);
}
.tituloMusicas{
    color: rgb(149, 24, 24);
}
ol{
    // background-color: #9298b7;
    background-color: rgba($color: #d3575714, $alpha: 1.0);
    color: rgb(125, 26, 26);
}
